/*-----------------------------------------------------------------------------------*/
/*	Column Styles
/*-----------------------------------------------------------------------------------*/

.fland-one-half { width: 48%; }
.fland-one-third { width: 30.66%; }
.fland-two-third { width: 65.33%; }
.fland-one-fourth { width: 22%; }
.fland-three-fourth { width: 74%; }
.fland-one-fifth { width: 16.8%; }
.fland-two-fifth { width: 37.6%; }
.fland-three-fifth { width: 58.4%; }
.fland-four-fifth { width: 67.2%; }
.fland-one-sixth { width: 13.33%; }
.fland-five-sixth { width: 82.67%; }

.fland-one-half,
.fland-one-third,
.fland-two-third,
.fland-three-fourth,
.fland-one-fourth,
.fland-one-fifth,
.fland-two-fifth,
.fland-three-fifth,
.fland-four-fifth,
.fland-one-sixth,
.fland-five-sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 2em;
	float: left;
	}

.fland-column-last {
	margin-right: 0!important;
	clear: right;
	}

/*-----------------------------------------------------------------------------------*/
/*	Button Styles
/*-----------------------------------------------------------------------------------*/

a.fland-button,
a.fland-button:visited {
	display: inline-block;
	color: #fff!important;
	text-decoration: none!important;
	text-align: center;
	font-family: Helvetica, Arial, Sans-serif;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	font-size: 14px;
	outline: none;
	font-weight: bold;
	line-height: 1em;
	padding: 7px 13px!important;
	cursor: pointer;
	border-radius: 16px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		-o-border-radius: 16px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
		-o-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
	border: 1px solid #0d507a!important;
	margin: 0 0.1em 1.5em 0!important;
	vertical-align: middle;
	background: #0c6fb1;
		background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
		background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
	}
	
a.fland-button.square {
	border-radius: 4px!important;
		-webkit-border-radius: 4px!important;
		-moz-border-radius: 4px!important;
		-o-border-radius: 4px!important;
	}
	
a.fland-button.medium {
	padding: 11px 16px!important;
	font-size: 16px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
	}

a.fland-button.large {
	padding: 15px 20px!important;
	font-size: 18px;
	border-radius: 20px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-o-border-radius: 25px;
	}

a.fland-button:hover {
	text-decoration: none;
	}
	
a.fland-button:active {
	position: relative;
	top: 1px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
		-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
	}
	
a.fland-button.green {
	border-color: #69963b!important;
	background: #7fc33c;
		background: -webkit-gradient(linear, left top, left bottom, from(#b1d960), to(#7fc33c));
		background: -webkit-linear-gradient(top, #b1d960, #7fc33c);
		background: -moz-linear-gradient(top, #b1d960, #7fc33c);
		background: -ms-linear-gradient(top, #b1d960, #7fc33c);
		background: -o-linear-gradient(top, #b1d960, #7fc33c);
	}
	
a.fland-button.green:hover {
	background: #8dd242;
		background: -webkit-gradient(linear, left top, left bottom, from(#b9e46a), to(#8dd242));
		background: -webkit-linear-gradient(top, #b9e46a, #8dd242);
		background: -moz-linear-gradient(top, #b9e46a, #8dd242);
		background: -ms-linear-gradient(top, #b9e46a, #8dd242);
		background: -o-linear-gradient(top, #b9e46a, #8dd242);
	}
	
a.fland-button.light-blue {
	border-color: #2681a2!important;
	background: #2caada;
		background: -webkit-gradient(linear, left top, left bottom, from(#46cae8), to(#2caada));
		background: -webkit-linear-gradient(top, #46cae8, #2caada);
		background: -moz-linear-gradient(top, #46cae8, #2caada);
		background: -ms-linear-gradient(top, #46cae8, #2caada);
		background: -o-linear-gradient(top, #46cae8, #2caada);
	}

a.fland-button.light-blue:hover {
	background: #32bcef;
		background: -webkit-gradient(linear, left top, left bottom, from(#50d6f5), to(#32bcef));
		background: -webkit-linear-gradient(top, #50d6f5, #32bcef);
		background: -moz-linear-gradient(top, #50d6f5, #32bcef);
		background: -ms-linear-gradient(top, #50d6f5, #32bcef);
		background: -o-linear-gradient(top, #50d6f5, #32bcef);
	}

a.fland-button.blue {
	border-color: #0d507a!important;
	background: #0c6fb1;
		background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
		background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
	}
	
a.fland-button.blue:hover {
	background: #1188d6;
		background: -webkit-gradient(linear, left top, left bottom, from(#1bb6e6), to(#1188d6));
		background: -webkit-linear-gradient(top, #1bb6e6, #1188d6);
		background: -moz-linear-gradient(top, #1bb6e6, #1188d6);
		background: -ms-linear-gradient(top, #1bb6e6, #1188d6);
		background: -o-linear-gradient(top, #1bb6e6, #1188d6);
	}

a.fland-button.red {
	border-color: #ab4b44!important;
	background: #e3514a;
		background: -webkit-gradient(linear, left top, left bottom, from(#ed8376), to(#e3514a));
		background: -webkit-linear-gradient(top, #ed8376, #e3514a);
		background: -moz-linear-gradient(top, #ed8376, #e3514a);
		background: -ms-linear-gradient(top, #ed8376, #e3514a);
		background: -o-linear-gradient(top, #ed8376, #e3514a);
	}
	
a.fland-button.red:hover {
	background: #ff5e56;
		background: -webkit-gradient(linear, left top, left bottom, from(#ff988c), to(#ff5e56));
		background: -webkit-linear-gradient(top, #ff988c, #ff5e56);
		background: -moz-linear-gradient(top, #ff988c, #ff5e56);
		background: -ms-linear-gradient(top, #ff988c, #ff5e56);
		background: -o-linear-gradient(top, #ff988c, #ff5e56);
	}
	
a.fland-button.orange {
   border-color: #dc9014!important;
   background: #ffb031;
		background: -webkit-gradient(linear, left top, left bottom, from(#ffce4f), to(#ffb031));
		background: -webkit-linear-gradient(top, #ffce4f, #ffb031);
		background: -moz-linear-gradient(top, #ffce4f, #ffb031);
		background: -ms-linear-gradient(top, #ffce4f, #ffb031);
		background: -o-linear-gradient(top, #ffce4f, #ffb031);
	}
	
a.fland-button.orange:hover {
   background: #ffc531;
		background: -webkit-gradient(linear, left top, left bottom, from(#ffdb4f), to(#ffc531));
		background: -webkit-linear-gradient(top, #ffdb4f, #ffc531);
		background: -moz-linear-gradient(top, #ffdb4f, #ffc531);
		background: -ms-linear-gradient(top, #ffdb4f, #ffc531);
		background: -o-linear-gradient(top, #ffdb4f, #ffc531);
	}

a.fland-button.purple {
   border-color: #996192!important;
   background: #d17ac6;
		background: -webkit-gradient(linear, left top, left bottom, from(#e3acdc), to(#d17ac6));
		background: -webkit-linear-gradient(top, #e3acdc, #d17ac6);
		background: -moz-linear-gradient(top, #e3acdc, #d17ac6);
		background: -ms-linear-gradient(top, #e3acdc, #d17ac6);
		background: -o-linear-gradient(top, #e3acdc, #d17ac6);
	}
	
a.fland-button.purple:hover {
   background: #eb90e0;
		background: -webkit-gradient(linear, left top, left bottom, from(#f3baec), to(#eb90e0));
		background: -webkit-linear-gradient(top, #f3baec, #eb90e0);
		background: -moz-linear-gradient(top, #f3baec, #eb90e0);
		background: -ms-linear-gradient(top, #f3baec, #eb90e0);
		background: -o-linear-gradient(top, #f3baec, #eb90e0);
	}
	
a.fland-button.grey {
	color: #555!important;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-color: #acacac!important;
	background: #e5e5e5;
		background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e5e5e5));
		background: -webkit-linear-gradient(top, #efefef, #e5e5e5);
		background: -moz-linear-gradient(top, #efefef, #e5e5e5);
		background: -ms-linear-gradient(top, #efefef, #e5e5e5);
		background: -o-linear-gradient(top, #efefef, #e5e5e5);
	}
	
a.fland-button.grey:hover {
	background: #f6f6f6;
		background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f6f6f6));
		background: -webkit-linear-gradient(top, #fcfcfc, #f6f6f6);
		background: -moz-linear-gradient(top, #fcfcfc, #f6f6f6);
		background: -ms-linear-gradient(top, #fcfcfc, #f6f6f6);
		background: -o-linear-gradient(top, #fcfcfc, #f6f6f6);
	}
	
a.fland-button.black {
	border-color: #323232!important;
	background: #444444;
		background: -webkit-gradient(linear, left top, left bottom, from(#6c6c6c), to(#444444));
		background: -webkit-linear-gradient(top, #6c6c6c, #444444);
		background: -moz-linear-gradient(top, #6c6c6c, #444444);
		background: -ms-linear-gradient(top, #6c6c6c, #444444);
		background: -o-linear-gradient(top, #6c6c6c, #444444);
	}
	
a.fland-button.black:hover {
	background: #575757;
		background: -webkit-gradient(linear, left top, left bottom, from(#8d8d8d), to(#575757));
		background: -webkit-linear-gradient(top, #8d8d8d, #575757);
		background: -moz-linear-gradient(top, #8d8d8d, #575757);
		background: -ms-linear-gradient(top, #8d8d8d, #575757);
		background: -o-linear-gradient(top, #8d8d8d, #575757);
	}

/*-----------------------------------------------------------------------------------*/
/*	Alert Styles
/*-----------------------------------------------------------------------------------*/

.fland-alert {
    padding: 0.8em;
    margin: 0 0 1.5em 0;
    line-height: 1.6em;
    border-radius: 4px!important;
		-webkit-border-radius: 4px!important;
		-moz-border-radius: 4px!important;
		-o-border-radius: 4px!important;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-o-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
	}

.fland-alert.white {
    background: #fff;
    border: 1px solid #dfdfdf;
    color: #373737;
	}

.fland-alert.red {
    background: #ffe6e3;
    border: 1px solid #f2c3bf;
    color: #bf210e;
	}

.fland-alert.yellow {
    background: #fff7d6;
    border: 1px solid #e9d477;
    color: #956433;
	}

.fland-alert.green {
    background: #edfdd3;
    border: 1px solid #c4dba0;
    color: #657e3c;
	}
	
.fland-alert.grey {
    background: #fbfbfb;
    border: 1px solid #dfdfdf;
    color: #373737;
	}

/*-----------------------------------------------------------------------------------*/
/*	Tab Styles
/*-----------------------------------------------------------------------------------*/

.fland-tabs.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
	}

.fland-tabs {
	background: none;
	margin: 0 0 2em 0;
	}

.fland-tabs ul.fland-nav {
	list-style: none!important;
	margin: 0!important;
	padding: 0;
	background: none;
	border: 0;
	float: none;
	}

.fland-tabs ul.fland-nav li {
	float: left;
	position: relative;
	margin: 0 2px -1px 0!important;
	z-index: 10;
	list-style: none!important;
	}
	

.fland-tabs ul.fland-nav li a {
	border: 1px solid #dfdfdf!important;
	border-bottom: none!important;
	display: block;
	overflow: hidden;
	padding: 5px 10px 0 10px;
	height: 26px;
	background: #FBFBFB;
	margin: 0!important;
	text-decoration: none;
	color: #373737!important;
	-webkit-border-radius: 3px 3px 0 0;
	   -moz-border-radius: 3px 3px 0 0;
	   		border-radius: 3px 3px 0 0;
	}
	
.fland-tabs ul.fland-nav li a:hover {
	background: #fff!important;
	margin: 0!important;
	}

.fland-tabs ul.fland-nav li.ui-tabs-selected a {
	height: 27px;
	background: #fff;
	}

.fland-tabs .fland-tab {
	background: #fff;
	padding: 10px;
	border: 1px solid #dfdfdf;
	}

/*-----------------------------------------------------------------------------------*/
/*	Toggle Styles
/*-----------------------------------------------------------------------------------*/

.fland-toggle { margin: 0 0 2em 0; }

.fland-toggle .fland-toggle-title {
	display: block;
	padding: 10px 10px 10px 30px; 
	background: #FBFBFB;
	border: 1px solid #dfdfdf;
	cursor: pointer;
	outline: none;
	position: relative;
	}
	
.fland-toggle .fland-toggle-title:hover { border: 1px solid #c5c5c5; }

.fland-toggle-inner {
	padding: 10px;
	background: #fff;
	border: 1px solid #dfdfdf;
	border-top: none;
	}

.fland-toggle span.ui-icon {
    background: url(images/toggles/toggle-closed.png) no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin: -6px 0 0 0;
	}

.fland-toggle .ui-state-active .ui-icon { background: url(images/toggles/toggle-open.png) no-repeat; }


/* Clearfix */
.fland-clearfix:before,
.fland-clearfix:after { content:""; display:table; }
.fland-clearfix:after { clear: both; }
.fland-clearfix { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }